//@import "../../node_modules/bootstrap/scss/functions";

//@import "../../node_modules/bootstrap/scss/bootstrap";


.my-carousel {
    //border: 1px solid black;
    img {
        height: 100vh;
        width: 100vw;
    }
    .carousel-indicators button {
        border-radius: 50%;
        height: 15px;
        width: 15px;
    }
    .carousel-caption {
        bottom: 40%;
        text-shadow: 1px 1px rgb(194, 185, 185);
    }
}

.upcoming-event {
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 10px 100px;
    //border: 1px solid black;
    background-color: rgb(247, 236, 223);
    height: 100px;

}

